.profile__picture {
  width: 120px;
  min-height: 120px;
  border-radius: 50%;
  background-image: url(../../images/profile-picture.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
