.popup__close-button {
    background-image: url(../../images/Close-Icon.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
    opacity: 1;
    z-index: 1;
}